@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Grenze Gotisch", serif;
    height: 100%;
}

.container {
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    max-width: 550px;
    height: 91.3vh;
}

.logo {
    width: 290px;
    object-fit: contain;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #8a2be2;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    background-color: #8000ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

button:hover {
    background-color: #a147fb;
}